body {

    caret-color: transparent;
    margin: 0;
    font-size: 14px;
    font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
   
   }
   
   body input {
   
    font-family: inherit;
    font-size: inherit;
    
   }

.gap05 { gap: 0.5em; }
.gap1 { gap: 1em; }
.gap15 { gap: 1.5em; }
.gap2 { gap: 2em; }

a {
    text-decoration: none;
    color:unset;
}

.p-buttonset .p-button:last-of-type{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-buttonset .p-button:first-of-type {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-togglebutton {
    border-radius: 1em;
}

.h-full{
    background-repeat: no-repeat;
}
.bg-cover-orit{
    background-size: contain !important; 
}