.gap05 { gap: 0.5em; }
.gap1 { gap: 1em; }
.gap15 { gap: 1.5em; }
.gap2 { gap: 2em; }

a {
    text-decoration: none;
    color:unset;
}

.p-buttonset .p-button:last-of-type{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-buttonset .p-button:first-of-type {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}