body{
    caret-color: transparent;
}

.gap05 { gap: 0.5em; }
.gap1 { gap: 1em; }
.gap15 { gap: 1.5em; }
.gap2 { gap: 2em; }

a {
    text-decoration: none;
    color:unset;
}

.p-buttonset .p-button:last-of-type{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-buttonset .p-button:first-of-type {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-togglebutton {
    border-radius: 1em;
}





.localimg{
    font-size: small;
    width: 100% !important;
}
.youtube{
    width: 100% !important;
    aspect-ratio: 16 / 9;
    height: unset !important;
}

#gameMedia{
    border-bottom: dashed 1px gray; 
    padding-bottom: 0.5em; 
    margin-bottom: 0.5em;
}
#showcase-caption-description-0{
    display: none !important;
}
.popcorn_footnote{
    width: unset !important;
    height: unset !important;
    font-weight: initial !important;
    font-size: initial !important;
    background-color: unset !important;
    font-style: italic;
    border: 1px dashed orange;
}
.disableButtons a{
    pointer-events: none;
}